.slide-card-container {
  position: relative;
  width: 100%;
  overflow: visible;
}

.slide-card {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
}

