:root {
  --light-black: #4B6584;
  --Black: #2F3640;
}

.h1-head {
  color: var(--light-balck, #4B6584) !important;
  font-family: 'Space Grotesk', sans-serif !important;
  font-size: 20px !important;
  font-style: normal !important;
  font-weight: 500 !important;
  line-height: 20px !important; /* 100% */
}

.h2-head {
  color: var(--Black, #2F3640) !important;
  font-family: 'Space Grotesk', sans-serif !important;
  font-size: 16px !important;
  font-style: normal !important;
  font-weight: 400 !important;
  line-height: 16px !important; /* 100% */
}

.body-text {
  color: var(--Black, #2F3640);
  font-family: 'Space Grotesk', sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 12px; /* 100% */
}

.overline {
  color: var(--Black, #2F3640);
  font-family: 'Space Grotesk', sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 12px; /* 100% */
  letter-spacing: 0.48px;
  text-transform: uppercase;
}

.metric {
  color: var(--Black, #2F3640) !important;
  text-align: center !important;
  font-family: 'Space Grotesk', sans-serif !important;
  font-size: 12px !important;
  font-style: normal !important;
  font-weight: 700 !important;
  line-height: 12px !important; /* 100% */
}

.metric-label {
  color: var(--Black, #2F3640);
  text-align: center;
  font-family: 'Space Grotesk', sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 300;
  line-height: 12px; /* 100% */
  text-transform: uppercase;
}
