/* max-width: 1280px;
margin: 0 auto;
padding: 2rem; */

html, body, #root {
  min-height: 100%;
}

body {
  background-color: #f5f5f4; /* stone-100 */
}

/* Clean up the debugging styles */
/* div {
  border: none;
} */

.text-heading {
  font-size: 25px;
}

.text-heading-black {
  color: #2F3640;
}

.text-metric {
  font-size: 16px;
}

.font-metric {
  font-weight: 500;
}

.leading-metric {
  line-height: 15px;
}

body[data-env="development"] [data-component]:hover::after {
  content: attr(data-component);
  position: fixed;
  left: 0;
  top: 0;
  background: rgba(30,30,40,0.85);
  color: #fff;
  font-size: 12px;
  border-radius: 6px;
  padding: 2px 10px;
  z-index: 99999;
  pointer-events: none;
  font-family: monospace;
}
